.contributorView {
    margin-top: 8%;
    font-family: 'Roboto', sans-serif;
    margin-left: 12%;

    & #titleSpec {
        font-size: 1.5vw;
        font-weight: bold;
        letter-spacing: 0.3rem;
    }

    .membersView {

    }
}