@import '../index';

.contributorView {
    margin: 8% 12% 3% 12%;

    .content {
        margin-left: 0%;
    }

    .membersView {
        width: 100%;
        height: 600px;
        background-color: $card-bg-color;
        margin-top: 3%;
        border-radius: 5px;
        text-align: center;

        .row {
            width: 100%;
            margin-left: 0.2%;
            .styleColumn {
                background-color: $orange-color;
                height: 600px;
            }

            .roundCorner {
                border-radius: 5px;
            }

            & #name {
                font-size: 2.2vw;
                font-weight: bold;
                margin-top: 30%;
                margin-bottom: 10%;
            }

            & #major {
                margin-top: 10%;
            }
        }
    }
}