@import'../index.scss';
$navy-blue: #405d86;
.homeView {
    margin-top: 12%;
    .bannerSpec {
        width: 130%;
        max-width: 1350px;
        height: 120%;
        max-height: 800px;
        margin: -8% 0 0 -13%;
    }

    .welcomeMessageView {
        text-align: center;
        & #title {
            margin-left: 5%;
            font-size: 5.8vw;
            color: $orange-color;
            margin-top: 15%;
            animation-delay: 0.2s;
            animation-name: slideInLeft;
        }
        & #subtitle {
            color: $comment-txt-color;
            font-size: 3.2vw;
            margin-top: -5px;
            margin-left: 5%;
            letter-spacing: 0.4rem;
            font-family: $pragati-narrow;
        }

        .solutionQuote {
            font-weight: lighter;
            font-size: 2vw;
            margin-left: 5%;
            color: $comment-txt-color;
            font-family: $pragati-narrow;
        }
    }
}