@import'../index.scss';
$navy-blue: #405d86;
.homeView {
    margin-top: 5%;
    .bannerSpec {
        width: 100%;
        max-width: 1250px;
        height: 100%;
        max-height: 700px;
    }

    .welcomeMessageView {
        text-align: center;
        & #title {
            margin-left: 10px;
            font-size: 5.8vw;
            color: $orange-color;
            margin-top: 20%;
            animation-delay: 0.2s;
            animation-name: slideInLeft;
        }
        & #subtitle {
            color: $comment-txt-color;
            font-size: 50px;
            margin-top: -5px;
            letter-spacing: 0.4rem;
            font-family: $pragati-narrow;
        }

        .solutionQuote {
            font-weight: lighter;
            font-size: 30px;
            color: $comment-txt-color;
            font-family: $pragati-narrow;
        }
    }
}