@import '../index';

.technicalView {

    .backgroundView {
        margin: 18% 10% 0% 10%;
        & #quote {
            font-size: 75px;
            margin-top: 10%;
            font-weight: bold;
            text-align: center;
        }
    }
}