@import '../index';

.technicalView {
    .backgroundView {
        margin: 18% 10% 0% 10%;
        & #quote {
            font-size: 4.8vw;
            margin-top: 10%;
            font-weight: bold;
            text-align: center;
        }
    }

    .content {
        .center {
            text-align: center;
            color: $orange-color;
        }

        .sketchView {
            margin: 0 auto;
            .modelSketch {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                border-radius: 10px;
            }
        }
    }
}