body {
  // position: relative;
  background-color: #f2eedd;
  background-image: linear-gradient(to bottom, #A0E8F5 0%, #ffecd2 100%);
  height: 400rem;
  min-height: 300vh;
  font-family: 'futura-pt', Futura, Helvetica, sans-serif;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}