.introView {
    margin-top: 5%;

    .bannerSpec {
        margin-left: -45%;
        width: 1200px;
        height: 700px;
        max-width: 1250px;
        max-height: 700px;
    }

    .welcomeMessageView {
        text-align: center;
        & #title {
            font-size: 55px;
            color: #405d86;
            margin-top: 25%;
            animation-delay: 0.2s;
            animation-name: slideInLeft;
        }
        & #subtitle {
            color: #f2f2f2;
            font-size: 60px;
            margin-top: -5px;
            letter-spacing: 0.4rem;
        }

        & #solutionQuote {
            font-weight: lighter;
            font-size: 25px;
        }
    }
}