.footerView {
    margin-top: 12%;

    & #titleSpec {
        font-size: 1.5vw;
        font-weight: bold;
        letter-spacing: 0.3rem;
        margin-left: 12%;
    }

    .membersView {
        
    }
}